@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300italic,400italic,600italic|Cardo:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300italic,400italic,600italic|Cardo:400,700,400italic);
/* ------- IMPORTS ------- */
/* ----------------------- COLOR THEMES ----------------------------- */
/* ----------------------- COLOR THEMES ----------------------------- */
/* ----------------------- SPECIALIZED FONTS ----------------------------- */
/*
 * The custom font-families that the site will use are:
 *
 * Source Sans Pro
 * Cardo
 *
 */
/* ----------------------- SPECIALIZED FONT AND COLOR MIX-INS ----------------------------- */
/*
 * Mixin built to provide a convenient way to set basic font styles quickly
 *
 * @param $weight - the font weight
 * @param $size - the font size
 * @param $family - the font family
 * @param $style - the font style
 * @param $color - an optional parameter that allows one to specify a font color
 *
 * @author kinsho
 */
/* ----------------------- FORMATTING MIX-INS ----------------------------- */
/* ----------------------- ANIMATION AND COLOR MIX-INS ----------------------------- */
/* ----------------------- GEOMETRIC MIX-INS ----------------------------- */
/* ----------------------- R-QUERY MIX-INS ----------------------------- */
/* ----------------------- UTILITY MIX-INS ----------------------------- */
/* Mix-in truly centers an element squarely in the middle of its parent container */
/* NOTE: The parent container MUST be explicitly relatively positioned for this to work */
/*
 * Mixin is responsible for setting the widths of all columns within a table by applying a width
 * to each TH element within the table.
 *
 * @param $columnWidths - a list containing desired widths for each column, in index order
 * @param $tableSelector - the CSS selector that will be used to reference the table
 *
 * @author kinsho
 */
/* ------- IMPORTS ------- */
/* ----------------------- COLOR THEMES ----------------------------- */
/* ----------------------- COLOR THEMES ----------------------------- */
/* ----------------------- SPECIALIZED FONTS ----------------------------- */
/*
 * The custom font-families that the site will use are:
 *
 * Source Sans Pro
 * Cardo
 *
 */
/* ----------------------- SPECIALIZED FONT AND COLOR MIX-INS ----------------------------- */
/*
 * Mixin built to provide a convenient way to set basic font styles quickly
 *
 * @param $weight - the font weight
 * @param $size - the font size
 * @param $family - the font family
 * @param $style - the font style
 * @param $color - an optional parameter that allows one to specify a font color
 *
 * @author kinsho
 */
/* ----------------------- FORMATTING MIX-INS ----------------------------- */
/* ----------------------- ANIMATION AND COLOR MIX-INS ----------------------------- */
/* ----------------------- GEOMETRIC MIX-INS ----------------------------- */
/* ----------------------- R-QUERY MIX-INS ----------------------------- */
/* ----------------------- UTILITY MIX-INS ----------------------------- */
/* Mix-in truly centers an element squarely in the middle of its parent container */
/* NOTE: The parent container MUST be explicitly relatively positioned for this to work */
/*
 * Mixin is responsible for setting the widths of all columns within a table by applying a width
 * to each TH element within the table.
 *
 * @param $columnWidths - a list containing desired widths for each column, in index order
 * @param $tableSelector - the CSS selector that will be used to reference the table
 *
 * @author kinsho
 */
/* ------- PROGRESS BAR STYLING ------- */
.barOutline {
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: #cdcdcd;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  background-color: #898989;
  width: 200px;
  display: inline-block; }
  .barOutline span.bar {
    background-color: #bbdbff;
    background-image: -webkit-linear-gradient(left, #bbdbff, #3399ff);
    background-image: -moz-linear-gradient(left, #bbdbff, #3399ff);
    background-image: -ms-linear-gradient(left, #bbdbff, #3399ff);
    background-image: -o-linear-gradient(left, #bbdbff, #3399ff);
    border-radius: 15px;
    display: inline-block;
    position: relative;
    width: 0px; }
    .barOutline span.bar:after {
      content: '.';
      visibility: hidden; }
  .barOutline span.percentage {
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-style: normal;
    color: white;
    position: absolute;
    z-index: 10;
    /* Center the text on the input field as best as possible */
    left: 50%;
    top: 10%; }

/* ------- DEFINITIONS -------- */
/* ------- SPECIFIC STYLES ------- */
.levelOne, .levelTwo, .levelThree {
  padding-left: 100px;
  position: relative;
  display: block; }
  .levelOne.highlight, .levelTwo.highlight, .levelThree.highlight {
    background-color: #eeeeff; }
  .levelOne.levelOne, .levelTwo.levelOne, .levelThree.levelOne {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-style: normal;
    color: #898989; }
    .levelOne.levelOne + .levelOne, .levelTwo.levelOne + .levelOne, .levelThree.levelOne + .levelOne {
      padding-top: 20px; }
  .levelOne.levelTwo, .levelTwo.levelTwo, .levelThree.levelTwo {
    font-weight: bold;
    font-size: 18px;
    font-family: Palatino Linotype, sans-serif;
    font-style: normal;
    color: #8fa288; }
    .levelOne.levelTwo + .levelTwo, .levelTwo.levelTwo + .levelTwo, .levelThree.levelTwo + .levelTwo {
      padding-top: 15px; }
    .levelOne.levelTwo:first-of-type, .levelTwo.levelTwo:first-of-type, .levelThree.levelTwo:first-of-type {
      padding-top: 15px; }
  .levelOne.levelThree, .levelTwo.levelThree, .levelThree.levelThree {
    font-weight: 400;
    font-size: 14px;
    font-family: Palatino Linotype, sans-serif;
    font-style: italic;
    color: #8fa288; }
    .levelOne.levelThree:first-of-type, .levelTwo.levelThree:first-of-type, .levelThree.levelThree:first-of-type {
      padding-top: 15px; }
  .levelOne span, .levelTwo span, .levelThree span {
    margin-right: 25px;
    display: inline-block;
    width: 400px; }
  .levelOne .difficulty, .levelTwo .difficulty, .levelThree .difficulty {
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffaaaa; }
    .levelOne .difficulty.difficultyFivePlus, .levelTwo .difficulty.difficultyFivePlus, .levelThree .difficulty.difficultyFivePlus {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #cc3355; }
    .levelOne .difficulty > span, .levelTwo .difficulty > span, .levelThree .difficulty > span {
      font-weight: bold;
      font-size: 20px;
      font-family: Arial, sans-serif;
      font-style: normal;
      color: black;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      position: absolute;
      width: auto;
      /* Center the content */
      left: 50%;
      top: 50%; }
  .levelOne span.collapsibleIcon, .levelTwo span.collapsibleIcon, .levelThree span.collapsibleIcon {
    padding-left: 10px;
    padding-right: 15px;
    display: inline-block;
    width: auto; }
    .levelOne span.collapsibleIcon img, .levelTwo span.collapsibleIcon img, .levelThree span.collapsibleIcon img {
      transition-property: transform;
      -webkit-transition-property: transform;
      -moz-transition-property: transform;
      -ms-transition-property: transform;
      -o-transition-property: transform;
      -webkit-transition-property: "-webkit-transform";
      -moz-transition-property: "-moz-transform";
      -ms-transition-property: "-ms-transform";
      -o-transition-property: "-o-transform";
      transition-timing-function: ease;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -ms-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-delay: 0s;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      cursor: pointer; }
      .levelOne span.collapsibleIcon img.collapsed, .levelTwo span.collapsibleIcon img.collapsed, .levelThree span.collapsibleIcon img.collapsed {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg); }
