/* ----------------------- IMPORTS ----------------------------- */
/* ----------------------- LOCAL CONSTANTS ----------------------------- */
/* ----------------------- PLACEHOLDERS ----------------------------- */
.poolRowHeader {
  width: 75%; }

.poolRowContainer {
  width: 90%; }

/* ----------------------- LOCAL CONSTANTS ----------------------------- */
/* ----------------------- MIX-INS ----------------------------- */
/*
 * Mix-in designed to render a gradient background on a particular element
 * Works across all major browsers
 *
 * @param $initialColor - the color which will launch the gradient
 * @param $endColor - the color which will mark the tail of the rendered gradient
 * @param $direction - the direction in which the gradient will render across the background of the element
 *
 * @author kinsho
 */
/* ----------------------- LOCAL CONSTANTS ----------------------------- */
/* ----------------------- STYLES ----------------------------- */
.poolRowContainer {
  text-align: center; }

.poolRowHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeeeff;
  height: 50px;
  position: relative; }
