/* Imports */
/* ----------------------- BASE VARIABLES ----------------------------- */
/* ----------------------- FORMATTING MIX-INS ----------------------------- */
/* ----------------------- ANIMATION MIX-INS ----------------------------- */
/* ----------------------- SPECIALIZED FONT AND COLOR MIX-INS ----------------------------- */
/*
 * Mixin built to provide a convenient way to set basic font styles quickly
 *
 * @param $weight - the font weight
 * @param $size - the font size
 * @param $family - the font family
 * @param $style - the font style
 * @param $color - an optional parameter that allows one to specify a font color
 *
 * @author kinsho
 */
/* ----------------------- GEOMETRIC MIX-INS ----------------------------- */
/* ----------------------- RQUERY MIX-INS ----------------------------- */
/* ----------------------- UTILITY MIX-INS ----------------------------- */
/* Mix-in truly centers an element squarely in the middle of its parent container */
/* NOTE: The parent container MUST be explicitly relatively positioned for this to work */
/*
 * Mixin is responsible for setting the widths of all columns within a table by applying a width
 * to each TH element within the table.
 *
 * @param $columnWidths - a list containing desired widths for each column, in index order
 * @param $tableSelector - the CSS selector that will be used to reference the table
 *
 * @author kinsho
 */
.legalArea {
  font-weight: normal;
  font-size: 18px;
  font-family: "Book Antiqua, serif";
  font-style: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d0d0;
  border-spacing: 0px;
  border-radius: 20px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 300px;
  overflow-y: scroll;
  display: inline-block; }
