<div id='leftHandMenu'>

	<div class='usernameDisplay mainItem'>
		<span> {{cookie.user.userName}} </span>
	</div>
	<div class='subItems'>
		<div>
			<span>Edit Personal Information</span>
		</div>
		<div data-special-handler='logOut'>
			<span>Log Out</span>
		</div>
	</div>
	<div class='smallHeightener'></div>

	<!-- Set up breaks in between each major menu item to smooth ou the logging in animation -->
	<div class='mainItem' data-title='picks'>
		<span>Make Picks</span>
	</div>

	<div class='pageBreak'></div>

	<div class='mainItem' data-title='stats'>
		<span>Contest Stats</span>
	</div>

	<div class='pageBreak'></div>

	<div class='mainItem' data-title='suicidePools'>
		<span>Suicide Pools</span>
	</div>

	<div class='pageBreak'></div>

</div>