import 'foundation/_base.scss';

#serverMessageContainer
{
	@include shiftTransition(-50%, calc(-50% - 50px));

	border:
	{
		style: solid;
		width: 2px;
		radius: 15px;
	}

	width: 200px;

	position: fixed;
	left: calc(120% + 200px);
	top: 90%;
	z-index: 11000;

	&.offsetUp10
	{
		top: 90%;
	}

	&.offsetUp20
	{
		top: 80%;
	}

	&.offsetUp30
	{
		top: 70%;
	}

	&.offsetUp40
	{
		top: 60%;
	}
}