/* Imports */

@import '_base.scss';

/* General CSS styling */

#successContainer
{
	@include transitionSettings($property: opacity, $duration: 0.5s);

	border:
	{
		color: $blueTheme;
		style: solid;
		width: 2px;
		radius: 10px;
	}

	margin:
	{
		top: 5px;
		bottom: 15px;
	}

	width: 100%;
	background-color: $lightBlueTheme;
	display: none;
	text-align: left;

	.title
	{
		@include basicFontSettings($size: 25);

		padding:
		{
			left: 10px;
			top: 15px;
		}

		display: none;
	}

	.successMessage
	{
		padding:
		{
			top: 15px;
			bottom: 15px;
			left: 5px;
			right: 5px;
		}

		display: none;

		@include basicFontSettings($size: 16);
	}
}