/* ----------------------- IMPORTS ----------------------------- */

@import 'foundation/_widthsHeights.scss';
@import 'foundation/_colors.scss';

/* ----------------------- LOCAL CONSTANTS ----------------------------- */

$SUICIDE_POOL:
(
);

/* ----------------------- STYLES ----------------------------- */

// Styling to be applied to each listed suicide pool

.poolRowContainer
{
	@extend %nineOverTen;

	text-align: center;
}

.poolRowHeader
{
	@extend %threeOverFour;

	padding:
	{
		top: 10px;
		bottom: 10px;
	}

	background-color: map-get($COLORS, lightBlueTheme);
	height: 50px;
	position: relative;
}
