.superToolTip
{
	position: absolute;
	z-index: 999999;

	background-color: #404040;

	font-family: Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	word-wrap: break-word;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;

	border: solid;
	border-bottom-width: 3px;
	border-right-width: 3px;
	border-top-width: 1.25px;
	border-left-width: 1.25px;
	border-color: rgb(65, 65, 65);
	border-color: rgba(65, 65, 65, 0.4);
	border-radius: 3px;
	background-clip: padding-box;

	/* Preloaded values */
	opacity: 0.9;
	display: none;
	color: #404040;
}

.superToolTipFont
{
	color: white;
}

.superToolTipContainer
{
	position: relative;
}


