<html>
	<head>
		<meta charset="UTF-8" />
	<!-- Forcing IE to adhere to standards here -->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!-- Load all files stored remotely below -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

	<!-- Load all the CSS files for this page -->
        {{#cssFiles}}
			<link rel="stylesheet" type="text/css" href='{{path}}'/>
        {{/cssFiles }}
	</head>
	<body>

		<!-- Load all the foundational view content that will be displayed across all pages -->
        {{#baseTemplateHTML}}
            {{.}}
        {{/baseTemplateHTML}}

		<!-- Load all the view files that comprise the main content for this page -->
		<div class='content'>
            {{#contentViewHTML}}
                {{.}}
            {{/contentViewHTML}}
		</div>

		<!--
			Configure the requireJS engine before using the library to pull external JavaScript files
			Unfortunately, such configuration requires us to use inline JavaScript in order to adhere to
			the DRY design methodology as best as possible
		-->
		<script>
			var require =
			{
				baseUrl: 'client/scripts',
				paths:
				{
                    d3 : '/client/library/d3',
					jquery : '/client/library/jquery/dist/jquery',
					json: '/client/library/json3//lib/json3',
                    select2: '/client/library/select2/select2',
					superTip: 'foundation/superTip'
                },
				deps:
				[
					'foundation/leftHandMenu'
				]
			};
		</script>

        <!-- Load the requireJS library and specify the main file to pull all required dependencies -->
		<script src='client/library/requirejs/require.js' data-main='{{requireMain}}'></script>

	</body>
</html>