/* ----------------------- IMPORTS ----------------------------- */

@import 'foundation/_colors.scss';
@import 'foundation/_animations.scss';
@import 'foundation/_fonts.scss';


/* ----------------------- LOCAL CONSTANTS ----------------------------- */

$SERVER_RELAYS:
(
	width: 80%,

	startingPosition: 130%,
	leftBoundary: 25%,
	restPoint: 30%,
	exitButtonPositionPadding: 8%
);

/* ----------------------- ANIMATIONS ----------------------------- */

@include shiftHorizontalTwice($name: containerEnter, $firstMagnitude: map-get($SERVER_RELAYS, leftBoundary), $secondMagnitude: map-get($SERVER_RELAYS, restPoint), $shiftChange: 75%,
	$startingPosition: map-get($SERVER_RELAYS, startingPosition), $firstShiftTimingFunction: ease-in-out, $secondShiftTimingFunction: ease-in);
@include shiftHorizontalTwice($name: containerExit, $firstMagnitude: map-get($SERVER_RELAYS, leftBoundary), $secondMagnitude: map-get($SERVER_RELAYS, startingPosition), $shiftChange: 20%,
	$startingPosition: map-get($SERVER_RELAYS, restPoint), $firstShiftTimingFunction: ease-out, $secondShiftTimingFunction: ease-in);

/* ----------------------- GENERAL STYLING ----------------------------- */

#serverMessageContainer
{
	@include shiftTransition($x: map-get($SERVER_RELAYS, startingPosition));

	border:
	{
		style: solid;
		color: map-get($COLORS, darkGrayTheme);
		width: 2px;
		radius: 15px;
	}

	padding:
	{
		left: 15px;
	}

	width: map-get($SERVER_RELAYS, width);

	position: fixed;
	top: 90%;
	z-index: 2;

	-moz-user-select: none;
	-khtml-user-select: none;

	&.offsetUp10
	{
		top: 90%;
	}

	&.offsetUp20
	{
		top: 80%;
	}

	&.offsetUp30
	{
		top: 70%;
	}

	&.offsetUp40
	{
		top: 60%;
	}

	&.enter
	{
		@include animationSettings($keyframeSet: containerEnter, $duration: 1.2s);
		@include shiftTransition($x: map-get($SERVER_RELAYS, restPoint));
	}

	&.exit
	{
		@include animationSettings($keyframeSet: containerExit, $duration: 1.2s);
		@include shiftTransition($x: map-get($SERVER_RELAYS, startingPosition));
	}

	// A black font better contrasts with the neutral theme than does a white font, thus necessitating the need
	// for the additional rule below
	&.neutralBackgroundTheme > #serverMessageContainerBody, &.neutralBackgroundTheme > .exitButton
	{
		color: map-get($COLORS, blackTheme);
	}

	&.neutralBackgroundTheme > #serverMessageContainerHeader
	{
		color: map-get($COLORS, blackTheme);
		@extend %regularPlusFont;
	}

	&.animateMovement
	{
		@include transitionSettings($property: transform, $webkitProperty: -webkit-transform, $duration: 1s, $delay: 0.5s);
		@include shiftTransition($x: map-get($SERVER_RELAYS, startingPosition));
	}

	& > .exitButton
	{
		margin:
		{
			right: map-get($SERVER_RELAYS, exitButtonPositionPadding);
			top: 3px;
		}

		color: map-get($COLORS, lightWhiteTheme);

		float: right;
		cursor: pointer;
	}
}

#serverMessageContainerHeader
{
	@extend %majorWhiteFont;

	text-align: left;
}

#serverMessageContainerBody
{
	@extend %regularWhiteFont;

	text-align: left;
}