/* ----------------------- IMPORTS ----------------------------- */

@import 'library/normalize.scss';

@import 'foundation/_colors.scss';
@import 'foundation/_fonts.scss';
@import 'foundation/_sharedElements.scss';
@import 'foundation/_widthsHeights.scss';

/* ----------------------- BASIC TAG STYLING ----------------------------- */

label
{
	@extend %smallCardoFont;

	margin:
	{
		left: 15px;
		right: 15px;
	}

	white-space: nowrap;

	&.requiredMarker:after
	{
		content: '*';

		margin:
		{
			left: 5px;
		}

		color: map-get($COLORS, darkRedTheme);
	}
}

input, select
{
	@extend %smallFont;

	margin:
	{
		bottom: 10px;
	}

	outline:
	{
		style: outset;
		width: 1px;
		color: map-get($COLORS, grayTheme);
	}

	width: 100%;
	min-width: 50px;
	min-height: 20px;
	background-color: map-get($COLORS, lightWhiteTheme);

	&.invalid
	{
		border:
		{
			width: 2px;
			style: ridge;
			color: map-get($COLORS, redTheme);
		}

		background-color: map-get($COLORS, lightRedTheme);

		&:focus
		{
			background-color: map-get($COLORS, whiteTheme);
		}
	}

	&:disabled
	{
		outline:
		{
			width: 0px;
		}

		background-color: map-get($COLORS, grayTheme);
	}

	&:not([type='button']):focus
	{
		background-color: map-get($COLORS, whiteTheme);

		border:
		{
			color: map-get($COLORS, blackTheme);
			width: 2px;
		}
	}

	&[type='button']
	{
		@extend %majorWhiteFont;

		border:
		{
			color: map-get($COLORS, darkBlueTheme);
			width: 4px;
			radius: 15px;
		}

		outline:
		{
			style: none;
			width: 0px;
		}

		background-color: map-get($COLORS, darkBlueTheme);

		&:disabled
		{
			opacity: 0.5;
		}
	}
}

option[disabled='disabled']
{
	color: map-get($COLORS, darkGrayTheme);
}

a
{
	@extend %smallBluerFont;

	text-decoration: none;
}

/* ----------------------- COMMON CLASSES ----------------------------- */

.infoRow
{
	@include infoRow();
}

.hintTip
{
	@include hintTip();
}

.checkbox
{
	@include checkbox();
}

.pageBreak
{
	@extend %pageBreak;
}

.smallHeightener
{
	@extend %tinyHeightener;
}

// The following classes provide for some quick and dirty styling that can be freely applied
// across the application
.noDisplay
{
	display: none;
}

.centerAlign
{
	text-align: center;
}

// The following three classes will be used primarily to help indicate the nature of any messages
// that return from the server and need to be displayed to the user
.positiveBackgroundTheme
{
	background-color: map-get($COLORS, positiveTheme);
}

.negativeBackgroundTheme
{
	background-color: map-get($COLORS, negativeTheme);
}

.neutralBackgroundTheme
{
	background-color: map-get($COLORS, noticeTheme);
}

// The content section of the site, which will take up most of the available real estate
// on the page. Ensure that this section floats to the right in order to allow for a
// menu that can be affixed to the left
.content
{
	@extend %regularFont;

	width: 85%;
	float: right;
	z-index: 0;

	position: relative;
}