/* ----------------------- IMPORTS ----------------------------- */

@import 'foundation/_colors.scss';
@import 'foundation/_fonts.scss';
@import 'foundation/_sharedElements.scss';
@import 'foundation/_animations.scss';
@import 'foundation/_widthsHeights.scss';

/* ----------------------- GENERAL STYLING ----------------------------- */

// Generalized styling for the container housing the left-hand menu
#leftHandContainer
{
	@include setGradient($initialColor: map-get($COLORS, lightGrayTheme), $endColor: map-get($COLORS, whiteTheme));

	margin:
	{
		right: 10px;
	}

	padding:
	{
		top: 15px;
		bottom: 15px;
		left: 10px;
		right: 20px;
	}

	width: 10%;
	height: 100%;

	float: left;

	position: fixed;
	z-index: 1;
}

.leftHandButton
{
	@extend %nineOverTen;

	margin:
	{
		top: 10px;
		bottom: 10px;
	}
}

.sectionVisible
{
	/* Locally defined lists needed here to set multiple transition properties on the log-in module */
	$transitionProperties: opacity, transform, -webkit-transform, -moz-transform, -ms-transform, -o-transform;
	$webkitTransitionProperties: opacity, -webkit-transform;
	$transitionTimings: linear, linear;
	$transitionDurations: 0.5s, 0.5s;
	$transitionDelays: 0s, 0s;

	@include transitionSettings($property: $transitionProperties, $webkitProperty: $webkitTransitionProperties, $timing: $transitionTimings,
		$duration: $transitionDurations, $delay: $transitionDelays);

	opacity: 1.0;

	&.sectionGoLeft
	{
		@include shiftTransition($x: -50%);

		opacity: 0.0;
	}
}

.mainItem
{
	/* Locally defined lists to set multiple transitions properties on each menu DIV */
	$transitionProperties: width, transform, -moz-transform, -ms-transform, -o-transform;
	$webkitTransitionProperties: width, -webkit-transform;
	$transitionTimings: ease, linear;
	$transitionDurations: 0.5s, 0.75s;
	$transitionDelays: 0s, 0s;

	/* @include setAxes3D($x: 0%, $y: top, $z: 0px); */ // Forget about this line for now....until later
	@include transitionSettings($property: $transitionProperties, $webkitProperty: $webkitTransitionProperties, $timing: $transitionTimings,
		$duration: $transitionDurations, $delay: $transitionDelays);

	// Note that the font defined below will only apply to the item housing the user name
	@extend %regularPlusFont;

	padding:
	{
		top: 5px;
		bottom: 5px;
		left: 60px;
	}

	border:
	{
		style: solid;
		width: 1px;
		color: map-get($COLORS, darkGrayTheme);

		left:
		{
			style: none;
		}
		right:
		{
			style: none;
		}
	}

	height: 25px;
	width: 150px;

	display: inline-block;
	text-align: left;
	position: relative;

	&:not(.usernameDisplay)
	{
		&:hover
		{
			/* Widen the element when hovered over */
			width: 130%;

			/* Darken the font when hovered over */
			@extend %boldFont;

			cursor: pointer;
		}

		&.selected
		{
			/* Widen the width to indicate that this is already selected */
			width: 130%;

			/* Darken the font */
			@extend %boldFont;

			cursor: auto;
		}

		// The font below will apply to all the major menu items except for the one housing the user name
		@extend %regularCardoFont;
		@extend %italicizedFont;
	}

	&.zeroOverOne
	{
		@extend %zeroOverOne;
	}

	& > span
	{
		@include transitionSettings($property: opacity, $timing: linear, $duration: 0.5s);
	}

	& > .selected
	{
		// Set up a triangular indicator to note the selected menu items and take care in positioning it
		@include triangleIndicator($direction: right, $width: 10px, $color: map-get($COLORS, darkGrayTheme));
		@include shiftTransition($x: 50%, $y: 50%);
	}
}

.subItems
{
	// The animation is used to slide the containers up and down
	@include transitionSettings($property: height, $timing: ease, $duration: 0.5s);

	// The font will be applied to all sub-menu items
	@extend %smallCardoFont;

	margin:
	{
		bottom: 5px;
	}

	background-color: map-get($COLORS, whiteTheme);
	cursor: pointer;
	height: 0px;

	& > div
	{
		padding:
		{
			top: 10px;
			bottom: 5px;
		}

		& > span
		{
			@include transitionSettings($property: opacity, $timing: linear, $duration: 0.1s);
		}

		height: 40px;
	}
}