<div id='firstSelectionBlock'>
    <div class='selectionBlockHeader'>Choose which teams will win their divisions</div>
</div>

<div id='secondSelectionBlock'>

</div>

<div id='thirdSelectionBlock'>

</div>

<div id='fourthSelectionBlock'>

</div>